/* Custom CSS file. */

.card-container {
  /* Holds all the cards */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  text-align: center;
}

/* It'd be nice to have a way to dimension the card automatically, depending on
   the content inside it. Probably doable with Flexbox.
   Then you could use:
   - flex-direction: row -> for horizontal cards
   - flex-direction: column -> for vertical cards
*/
.card {
  /* You could change the card dimensions using a Sass mixin */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
}

.vertical {
  /* Vertical cards */
  height: 320px;
  width: 240px;
}

.horizontal {
  /* Horizontal cards */
  height: 240px;
  width: 320px;
}

.card-image-container {
  padding: 0;
}

.card-photo {
  width: 100%;
  height: auto;
}

.text-panel {
  padding: 2px 16px;
  text-align: justify;
}
