// Forked from https://codepen.io/Elena_in_code/pen/goBvYr
doctype html
html
  head
    meta(charset="utf-8")
    meta(lang="en")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Mouse coordinates
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed")
    link(rel="stylesheet", href="./assets/main.css")
    // jQuery is referenced in this script
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="./scripts/main.js")
  body
    button Press me
    .container
      h5.mainText 🐁 Coordinates of your mouse:
      br
    p Hover over this container
