!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title
      Document
    %link{:rel => "stylesheet", :href => "output/main.css"}
    -# Import Ubuntu Font
    link[]
  %body
    %button.button-default
      Default Button
    %button.button-micro
      Micro Button
    %button.button-primary
      Primary Button
    %button.button-ghost
      Ghost Button
