html
  head
    title Menu App Interface
    meta(charset="utf-8")
    meta(lang="en")
    link(rel="stylesheet", href="./assets/main.css")
  body
    .paper.preview-1
      .box
        .bar
          .menu
            span
            span
            span
          p Menu
          span Items
            span.items-total 0
          .action Done
        .item.coffee
          .box
            .item-icon.coffee
              p Coffee
            .detail
              div
                p Espresso
                .counter
                  span.number 0
                  .plus +
                  .minus -
              div
                p Capuccino
                .counter
                  span.number 0
                  .plus +
                  .minus -
              div
                p Lato
                .counter
                  span.number 0
                  .plus +
                  .minus -
        .item.sweet
          .box
            .item-icon.sweet
              p Sweet
              .detail
                div
                  p Baklava
                  .counter
                    span.number 0
                    .plus +
                    .minus -
                div
                  p Kunafeh Nabulsia
                  .counter
                    span.number 0
                    .plus +
                    .minus -
                div
                  p Basbousa
                  .counter
                    span.number 0
                    .plus +
                    .minus -
        .item.food
          .box
            .item-icon.food
            p Food
            .detail
                div
                  p Shawarma
                  .counter
                    span.number 0
                    .plus +
                    .minus -
                div
                  p Foul Mudammes
                  .counter
                    span.number 0
                    .plus +
                    .minus -
                div
                  p Falafel
                  .counter
                    span.number 0
                    .plus +
                    .minus -
        .item.drink
          .box
            .item-icon.drink
            p Drink
            .detail
                div
                  p Tamer Hindi
                  .counter
                    span.number 0
                    .plus +
                    .minus -
                div
                  p Jalab
                  .counter
                    span.number 0
                    .plus +
                    .minus -

  .paper.preview-2.item-active
    .box
      .bar
        .menu
          span
          span
          span
        p Menu
        span
          span Items
            span.items-total 2
          .action Done
      .item.coffee.active
        .box
          .item-icon.coffee
          p Coffee
          .detail
            div
              p Espresso
              .counter
                span.number(style="display:inline") 2
                .plus +
                .minus -
            div
              p Capuccino
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Lato
              .counter
                span.number 0
                .plus +
                .minus -
      .item.sweet.active
        .box
          .item-icon.sweet
          p Sweet
          .detail
            div
              p Baklava
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Kunafeh Nabulsia
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Basbousa
              .counter
                span.number 0
                .plus +
                .minus -
      .item.food.active
        .box
          .item-icon.food
          p Food
          .detail
            div
              p Shawarma
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Foul Mudammes
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Falafel
              .counter
                span.number 0
                .plus +
                .minus -
      .item.drink.active
        .box
          .item-icon.drink
          p Drink
          .detail
            div
              p Tamer Hindi
              .counter
                span.number 0
                .plus +
                .minus -
            div
              p Jalab
              .counter
                span.number 0
                .plus +
                .minus -
