!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel => "stylesheet", :href => "./output-css/main.css"}
    %title
      Frozen text just with CSS
  %body
    %h1{:data-heading => "Frozen", :contenteditable => "true"}
      Frozen
