// Forked from https://codepen.io/JaguarDev/pen/yNwwRz

html
  head
    title Círculo
    meta(charset="utf-8")
    meta(lang="en")
    link(rel="stylesheet", href="./assets/main.css")
  body
    .icon
      .circle
      .circle2
