// Forked from https://codepen.io/JaguarDev/pen/yNwwRz

html
  head
    title Círculo
    meta(charset="utf-8")
    meta(lang="en")
    link(rel="stylesheet", href="./assets/main.css")
    script(src="ihttps://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="./scripts/main.js")
  body
    .icon
      .circle
      .circle2
